.header {
  text-align: center;
  font-size: 60px;
  font-weight: bold;
  text-decoration: underline;
}

.list {
  display: flex;
  width: 400px;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  font-size: 20px;
  font-weight: bold;
}

.list-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.newItemInput {
  padding: 10px;
}

.row-left {
  display: flex;
  align-items: center;
}
.footer {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.checkbox {
  zoom: 2
}

body {
  background-color: aquamarine;
}